@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

input {

  &:focus,
  &:active {
    outline: 0;

  }
}

//helper classes

.radius-circle {
  border-radius: var(--radius);
}

.btn {
  border-radius: var(--radius);
}

.btn-primary-outline {
  border: 1px solid var(--primary);
}

.border {
  border-bottom: 2px solid var(--border-color);
}

.bg-dark {
  height: 100vh;
  width: 100wv;
  background-color: var(--bg-black);
  opacity: 0.3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  left: 0;
}