.basket-modal {
  width: 400px;
  height: 400px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 11px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: auto;

}