.header {
  display: grid;
  height: var(--header-height);

  @media (min-width: 576px) and (max-width: 768px) {
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    grid-template-columns: 50% 50%;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    grid-template-columns: 25% 50% 25%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 25% 50% 25%;
  }

  .search {
    img {
      position: absolute;
      top: 16px;
      left: 20px;
    }

    input {
      height: 50px;
      border: 2px solid var(--border-color);
      background-color: var(--search-bg);
      color: var(--text-gray);
      padding: 0px 20px 0px 45px;
      font-size: 15px;
    }

    .btn-search {
      top: 5px;
      right: 5px;
      padding: 7px 20px;
    }
  }

  .basket {
    .btn-basket {
      padding: 12px 30px;

      .count {
        position: absolute;
        background-color: #FF5B4D;
        border-radius: 150px;
        width: 25px;
        font-weight: 500;
        top: -10px;
        right: 0;
      }
    }
  }
}