.notification{
  position: fixed;
  right: 10px;
  top: 10px;
  width: 500px;
  max-width: 90%;
  background-color: var(--secondary);
  border-radius: 21px;
  color: white;
  padding: 10px;
  span{
    font-weight: 500;
  }
}