.product-list {
  margin-top: 60px;

  &-title {
    span {
      font-weight: 300;
    }
  }

  &-content {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;

    .cart {
      @media (min-width: 320px) and (max-width: 992px) {
        width: 50%;

        // &:nth-child(odd) {
        //   .product {
        //     margin-left: 0px;
        //   }
        // }

        // &:nth-child(even) {
        //   .product {
        //     margin-right: 0px;
        //   }
        // }
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        width: 33%;

        // &:nth-child(3n-2) {
        //   .product {
        //     margin-left: 0px
        //   }
        // }

        // &:nth-child(3n) {
        //   .product {
        //     margin-right: 0px;
        //   }
        // }
      }

      @media (min-width: 1200px) {
        width: 20%;

        // &:nth-child(5n-4) {
        //   .product {
        //     margin-left: 0px;
        //   }
        // }

        // &:nth-child(5n) {
        //   .product {
        //     margin-right: 0px;
        //   }
        // }

      }

    }
  }
}